/* Alibaba Puhuiti */

.alibabapuhuiti1 {
    font-family: AlibabaPuHuiTi-Light;
}

.alibabapuhuiti2 {
    font-family: AlibabaPuHuiTi;
}

.alibabapuhuiti3 {
    font-family: AlibabaPuHuiTi-Medium;
}

.alibabapuhuiti4 {
    font-family: AlibabaPuHuiTi-Bold;
}

.alibabapuhuiti5 {
    font-family: AlibabaPuHuiTi-Heavy;
}

.alibabapuhuiti6 {
    font-family: AlibabaSans-light-Italics;
}

.alibabapuhuiti7 {
    font-family: AlibabaSans-Normal-Italics;
}

.alibabapuhuiti8 {
    font-family: AlibabaSans-Medium-Italics;
}

.alibabapuhuiti9 {
    font-family: AlibabaSans-Bold-Italics;
}

.alibabapuhuiti10 {
    font-family: AlibabaSans-Heavy-Italics;
}

.alibabapuhuiti11 {
    font-family: AlibabaSans-light;
}

.alibabapuhuiti12 {
    font-family: AlibabaSans-Normal;
}

.alibabapuhuiti13 {
    font-family: AlibabaSans-Medium;
}

.alibabapuhuiti14 {
    font-family: AlibabaSans-Bold;
}

.alibabapuhuiti15 {
    font-family: AlibabaSans-Heavy;
}

.alibabapuhuiti16 {
    font-family: AlibabaSans-Black;
}

/* Taipei */

.taipei-regular {
    font-family: Taipei-Sans-TC-Beta-Regular-2;
}

.taipei-bold {
    font-family: Taipei-Sans-TC-Beta-Bold-2;
}

.taipei-light {
    font-family: Taipei-Sans-TC-Beta-Light-2;
}