/*taipei-sans-tc-beta-regular*/

@font-face {
    font-family: 'Taipei-Sans-TC-Beta-Regular-2';
    src: url('taipei-sans-tc-beta/Taipei-Sans-TC-Beta-Regular-2.ttf');
    src: url('taipei-sans-tc-beta/Taipei-Sans-TC-Beta-Regular-2.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Taipei-Sans-TC-Beta-Bold-2';
    src: url('taipei-sans-tc-beta/Taipei-Sans-TC-Beta-Bold-2.ttf');
    src: url('taipei-sans-tc-beta/Taipei-Sans-TC-Beta-Bold-2.otf') format("opentype");
    font-weight: bold;
    font-style: normal;
    
}

@font-face {
    font-family: 'Taipei-Sans-TC-Beta-Light-2';
    src: url('taipei-sans-tc-beta/Taipei-Sans-TC-Beta-Light-2.ttf');
    src: url('taipei-sans-tc-beta/Taipei-Sans-TC-Beta-Light-2.otf') format("opentype");
    font-weight: lighter;
    font-style: normal;
    
}